

.review_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tre kolumner */
    grid-gap: 20px; /* Mellanrum mellan kolumner och rader */
    padding: 50px;
    justify-items: center; /* Centrerar objekten i varje kolumn */
    margin-bottom: 50px;
}

.review {
    border-radius: 20px;
    background-color: #fff;
    border: 3px solid black;
    text-align: center;
    padding: 10px;
    width: 90%; /* Justera bredden så att den passar inom grid-cellen */
    height: 150px;
    list-style: none;
    transition: transform 0.3s ease;
}

.review:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


.review_text {
    font-size: 12px;
    
}

.review:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

}

.rating {
    color: #FFD700; 
    font-size: 16px; 
    margin-bottom: -px; 
    text-align: center;
}

.date_name {
    color: rgba(128, 128, 128, 0.7); 
    font-size: 12px; 
    margin-bottom: 20px; 
    padding-top: 10px;
}

.google_wrapper {
    margin: auto;
    width: 400px;
    height: 220px;
    border-radius: 20px;
    background-color: #055C64;
    color: #fff;
    padding: 20px;
    position: relative; 
}
.google_innerwrapper {
    display: flex;
    flex-direction: column; 
}

.google_header {
    display: flex;
    width: 50px;
    justify-content: space-between;
    align-items: left; 
}
.google_logo_text {
    font-size: 25px;
    display: inline-flex;
    margin: -40px 0 0 60px; 
}

.arrow_icon {
    position: absolute;
    top: 20px;
    right: 20px; 
}

.arrow_icon:hover {
    transform: scale(1.15);
}

.omdome {
    margin-top: 10px;
}

#omdome_text {
    font-size: 20px;
    margin-bottom: 90px;
    padding-left: 10px;
}

#omdome_rating {
    font-size: 20px;
    text-align: left; 
    margin-left: 10px;
}

.omdome_rating_count {
    color: rgb(122, 122, 122);
}

.recension_wrapper {
    margin: auto;
    width: 400px;
    height: 50px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #055C64;
    text-align: center;
    padding: 7px;
}

.recension_wrapper:hover {
    background-color: #003d42;
    cursor: pointer;
}

.recension_text {
    padding-top: 10px;
    color: #fff;
}